:root {
   --font-color: rgb(255, 125, 212);
   --bg-color: #fff170;
   --bg-color-two: #fff9d9;
   --bg-color-three: #e67cf0;
   --hover-color: #ff9b3d;
  }

html, body {
    text-align: center;
    background-color: var(--bg-color-two);
    color: var(--font-color);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex: 80%;
    justify-content: center;
  }

.flex-inner-container {
    display: flex;
  }

h2 {
    font-family: 'Explora', cursive;
    font-size: 80px;
    font-weight: 900;
    background-color: var(--bg-color-two);
}
h3 {
    font-family: 'Explora', cursive;
    font-size: 60px;
    font-weight: 900;
    background-color: var(--bg-color-two);
}

p {
    font-family: 'Explora', cursive;
    font-size: 46px;
    font-weight: 900;
    background-color: var(--bg-color-two);  
}

li {
    font-size: 26px;
    font-weight: 900; 
}

.total {
    font-size: 26px;
    font-weight: 900; 
}

.menuItem  {
    width: 200px;
    height: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--bg-color);
    margin: 15px;
    transition-duration: 0.4s;
    border: 2px solid var(--bg-color-two);
}

.menuItem:hover {
    width: 220px;
    height: 220px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--hover-color);
    margin: 15px;

}

.button {
    width: 200px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--bg-color);
    margin: 15px;
    transition-duration: 0.4s;
    border: 2px solid var(--bg-color-two);
    font-family: 'Modak', cursive;
    font-size: 24px;
    color: var(--font-color); 
}

.button:hover {
    width: 220px;
    height: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--hover-color);
    margin: 15px;

}

img {
    pointer-events: none;
}


ul {
    list-style-type: none;
}